[submodule "ext/libchain"]
	path = ext/libchain
	url = https://github.com/CMUAbstract/libchain.git
[submodule "ext/libio"]
	path = ext/libio
	url = /afs/ece.cmu.edu/project/abstract/repos/libio
[submodule "ext/libedb"]
	path = ext/libedb
	url = https://github.com/CMUAbstract/libedb.git
[submodule "ext/maker"]
	path = ext/maker
	url = /afs/ece.cmu.edu/project/abstract/repos/maker
[submodule "ext/libwispbase"]
	path = ext/libwispbase
	url = /afs/ece.cmu.edu/project/abstract/repos/wisp5
[submodule "ext/libmspconsole"]
	path = ext/libmspconsole
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspconsole
[submodule "ext/libmspprintf"]
	path = ext/libmspprintf
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspprintf
[submodule "ext/libmspware"]
	path = ext/libmspware
	url = /afs/ece.cmu.edu/project/abstract/repos/libmspware/
[submodule "ext/libmspmath"]
	path = ext/libmspmath
	url = git://github.com/CMUAbstract/libmspmath.git
[submodule "libmsp2"]
	path = ext/libmsp
	url = /afs/ece.cmu.edu/project/abstract/repos/libmsp
